# Auto-detect text files and perform LF normalization
* text=auto

# Custom Binary File Definitions
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.zip binary
*.tar binary
*.gz binary
*.rar binary
